/*------------------------------------*\
    		$SETTINGS
\*------------------------------------*/

/* ============== // Transition // ============== */

$transition-time: .3s;
$transition-method: ease-in-out;
$principal: #6d6e70;
$claro: #F1F1F1;
$oscuro: #000000;
$contraste: #e51f82;
$blanco: #fff;
$gris: #ccc;


/* ============== // FONTS // ============== */
